.DecimalTranslator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f2f2f2;
    background-image: url('./mov_bin.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .DecimalTranslator-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .DecimalTranslator h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .DecimalTranslator input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .DecimalTranslator button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .DecimalTranslator button:hover {
    background-color: #555;
  }
  
  .DecimalTranslator p {
    color: #333;
    font-size: 18px;
    margin-top: 20px;
  }
  